<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    <h1>Welcome to Text Analyzer. Enter your text below.</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" style='width: 1645px; height: 238px;'></textarea>
        <br>
        <input type="checkbox" name="remove_punc" id="">Remove Punctuations
        <br>
        <input type="checkbox" name="full_caps" id="">UPPERCASE Text
        <br>
        <input type="checkbox" name="newline_remover" id="">Remove Newline
        <br>
        <input type="checkbox" name="extra_space_remover" id="">Extra Space Remover
        <br>
        <input type="checkbox" name="characters_count" id="">Count Characters of Text
        <br>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>